@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior-y: none;
}

@layer components {
  .container-catalog {
    @apply mx-auto w-full max-w-7xl px-20;
  }

  section {
    @apply w-full border-b max-w-7xl px-20 py-8 bg-white;
  }

  /* Buttons */
  .btn {
    @apply inline-flex items-center justify-center border rounded-md px-4 py-2 mt-4 text-sm  transition font-semibold;
    border-color: rgba(143, 143, 143, 1);
    border-width: 0.5px;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
  .btn-primary {
    @apply w-full justify-center border rounded-md py-3 mt-4 text-xs  transition font-semibold text-white text-center;
    background-color: rgba(88, 86, 96, 1);
  }
  .btn-disabled {
    @apply opacity-50 pointer-events-none;
  }

  /* Game-Card */
  .card {
    @apply rounded-lg border p-5 shadow-sm;
    border-color: rgba(143, 143, 143, 1);
    border-width: 0.5px;
    background-color: rgb(var(--bg));
  }
  .card-img {
    @apply w-full overflow-hidden bg-gray-100;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .card-title {
    @apply mt-3 text-xs font-semibold text-gray-500;
  }
  .card-text {
    @apply text-sm font-semibold;
    word-wrap: break-word;
    max-width: 500px;
  }
  .badge-new {
    @apply inline-flex items-center rounded-md px-2.5 py-1 text-xs font-medium bg-gray-100 text-gray-500;
  }

  /* Cart-Item */
  .cart-item {
    @apply flex items-center gap-4 py-4;
  }
  .cart-item-title {
    @apply mt-2 text-xs font-semibold text-gray-500;
  }

  /* Order-Summary */
  .order-container {
    @apply border rounded-md px-5 py-6;
  }
  .order-title {
    @apply text-lg font-semibold mb-2;
  }
  .order-list {
    @apply flex flex-col text-sm mt-8 pb-3 border-b;
  }
}

@layer utilities {
  .text-selected {
    @apply font-semibold text-gray-900;
  }

  .text-unselected {
    @apply text-gray-700;
  }

  .catalog-grid {
    @apply grid gap-8;
    @apply sm:grid-cols-2;
    @apply lg:grid-cols-3;
    @apply xl:grid-cols-3;
  }
}
